// app global css
.container
  flex 1

.icon
  width 2em
  height 2em
  vertical-align -.15em
  fill currentColor
  overflow hidden
  color #2ca6e0

#icon-bolt
  color #FBA542

#icon-waterdrop
  color #0A7AE7

#icon-ranqifei
  color #F54A3F